VITE_SUPABASE_URL=https://woymmondxoherxryvjii.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndveW1tb25keG9oZXJ4cnl2amlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1NDgwNDcsImV4cCI6MjA5NzEyNDA0N30.lfiVRluHa7tdqE4WJstlrVGA6EUJx7z65UKZwISwk2A
VITE_DEFAULT_RESTAURANT_ID=00000000-0000-0000-0000-000000000000
